extends layout.pug
include mixins/descrip.pug
include mixins/intro.pug
include mixins/list.pug

block innercontent
    script.
        let selected = null;
        let not;
        if("#{not}" != '') {
            console.log("OK", "#{not}")
            not = "#{not}";
        } else {
            not = false;
        }
    ul(id="editblocks")
        for val,index in name
            li(class="editblock" data-id=id[index])
                div(class="topedit")= name[index]
                    div(class="topeditbut circlebut" id="close" + id[index]) x
                    script.
                        $('#close' + '#{id[index]}').click(function() {
                            let el = this;
                            console.log("close clicked:", "#{id[index]}")
                            $.post("/admin/deleteblock", { id: '#{id[index]}', type: '#{type[index]}', name: '#{name[index]}'} , function(data) {
                                //$(el).parent().parent().remove();
                                location.reload();
                            })
                        })
                div(class="contentedit")
                    case type[index]
                        when 0
                            +intro(id[index], bg[index], dat[index].img, dat[index].maintext, dat[index].subtext, p_bg[index])
                        when 1
                            +descrip(id[index], bg[index], dat[index].text1, dat[index].text2, p_bg[index])
                        when 2
                            +list(id[index], dat[index].id, bg[index], dat[index].dat, p_bg[index])
                div(class="bottomedit")
        div(class="buttoncont")
            form(action="/admin/insertblock" method="post")
                div(class='secinput')
                    p Name:
                    input(type="text" name="name")
                div(class='secinput')
                    p Shorthand:
                    input(type="text" name="shorthand")
                div(class='secinput')
                    p Type:
                    select(name="type")
                        option(value=0) Intro
                        option(value=1) Two-Col Description
                        option(value=2) List
                input(type="submit" class="addblock" value="Add Section")
    script.
        el = document.getElementById("editblocks");
        sortable = Sortable.create(el, {
            handle: ".topedit",
            onEnd: function(evt) {
                let ord = [];
                $('.editblock').each(function(i) {
                    console.log($(this).attr('data-id'));
                    ord.push($(this).attr('data-id'));
                });
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(ord),
                    contentType: "application/json",
                    //contentType: "application/x-www-form-urlencoded",
                    dataType:'json',
                    url: '/admin/updateorder',
                    success: function(data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    },
                    error: function(error) {
                        console.log("some error in fetching the notifications");
                     }
                });
            }
        });
