extends layout.pug
include mixins/descrip.pug
include mixins/intro.pug
include mixins/list.pug

block innercontent
    script.
        console.log("#{not}")
        let not;
        if("#{not}" != '') {
            console.log("OK", "#{not}")
            not = "#{not}";
        } else {
            not = false;
        }
    ul
        for val,index in name
            li(class="editblock")
                div(class="topedit")= name[index]
                div(class="contentedit")
                    case type[index]
                        when 0
                            +intro(id[index], dat[index].img, dat[index].maintext, dat[index].subtext)
                        when 1
                            +descrip(id[index], dat[index].text1, dat[index].text2)
                        when 2
                            +list
                div(class="bottomedit")
                    div(class="removeblock")
        li(class="buttoncont")
            div(class="addblock")
