extends layout.pug
include mixins/descrip.pug
include mixins/intro.pug
include mixins/list.pug

block innercontent
    script.
        console.log("#{not}")
        let not;
        if("#{not}" != '') {
            console.log("OK", "#{not}")
            not = "#{not}";
        } else {
            not = false;
        }
    ul
        for val,index in name
            li(class="editblock")
                div(class="topedit")= name[index]
                    div(class="topeditbut circlebut" id="close" + id[index]) x
                    script.
                        $('#close' + '#{id[index]}').click(function() {
                            let el = this;
                            console.log("close clicked:", "#{id[index]}")
                            $.post("/admin/deleteblock", { id: '#{id[index]}', type: '#{type[index]}', name: '#{name[index]}'} , function(data) {
                                $(el).parent().parent().remove();
                            })
                        })
                div(class="contentedit")
                    case type[index]
                        when 0
                            +intro(id[index], bg[index], dat[index].img, dat[index].maintext, dat[index].subtext)
                        when 1
                            +descrip(id[index], bg[index], dat[index].text1, dat[index].text2)
                        when 2
                            +list
                div(class="bottomedit")
        li(class="buttoncont")
            form(action="/admin/insertblock" method="post")
                div(class='secinput')
                    p Name:
                    input(type="text" name="name")
                div(class='secinput')
                    p Shorthand:
                    input(type="text" name="shorthand")
                div(class='secinput')
                    p Type:
                    select(name="type")
                        option(value=0) Intro
                        option(value=1) Two-Col Description
                        option(value=2) List
                input(type="submit" class="addblock" value="Add Section")
