mixin list(id,listid,color,slides, bg)
    form(action='/admin/updateblock' method='post')
        input(type="hidden" name="id" value=id)
        input(type="hidden" name="type" value=2)
        div(class='txtinput')
            p Main Background Color:
            input(type='text' name='bgcolormain' id='maincol'+id value=color)
        div(class='txtinput')
            p Parallax BG URL:
            input(type='text' id='p_bg' name='p_bg' value=bg)
        script.
            $('#maincol' + '#{id}').spectrum({
                preferredFormat: "rgb",
                color: "#{color}",
                showInput: true,
                showAlpha: true
            });
        ul(class='horzscroll' id='listscroll' + listid)
            each val,index in slides
                li(class='slidecont' data-id=val.SlideID)
                    div(class='closeslidebut' id='delslide'+val.SlideID) x
                    script.
                        $('#delslide' + '#{val.SlideID}').click(function() {
                            let el = this;
                            $.post('/admin/removeslide/'+'#{val.SlideID}', function() {
                                console.log("removed slide");
                                $(el).parent().remove();
                            })
                        })
                    input(type='hidden' name='slideid' value=val.SlideID)
                    div(class='listsection')
                        div(class='txtinput')
                            p Image Link (300x300):
                            input(type='text' name='image' value=val.Image)
                        div(class='txtinput')
                            p Header:
                            input(type='text' name='header' value=val.Header)
                        div(class='txtinput')
                            p Description:
                            input(type='text' name='description' value=val.Description)
                        div(class='txtinput')
                            p BG Color:
                            input(type='text' name='bgcolor' id='lcol'+val.SlideID value=val.bgcolor)
                        div(class='txtinput')
                            p Parallax BG URL:
                            input(type='text' name='slidepar' id='lpar'+val.SlideID value=val.p_bg)
                            script.
                                $('#lcol' + '#{val.SlideID}').spectrum({
                                    preferredFormat: "rgb",
                                    color: "#{val.bgcolor}",
                                    showInput: true,
                                    showAlpha: true
                                });
        script.
            el = document.getElementById("listscroll#{listid}");
            sortable = Sortable.create(el, {
                onEnd: function(evt) {
                    let ord = [];
                    $('#listscroll#{listid} .slidecont').each(function(i) {
                        console.log($(this).attr('data-id'));
                       ord.push($(this).attr('data-id'));
                    });
                    let dat = { id: "#{listid}", dat: ord };
                    console.log(dat);
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(dat),
                        contentType: "application/json",
                        dataType:'json',
                        url: '/admin/slides/updateorder',
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        },
                        error: function(error) {
                            console.log("some error in fetching the notifications");
                         }
                    });
                }
            });
        div(class='textbut')
                div(class='coppas' id="addslide" + listid) Add Slide
                script.
                    $('#addslide' + '#{listid}').click(function() {
                        console.log("Adding Slide");
                        $.post('/admin/addslide/#{listid}', function(dat) {
                            console.log("Added Slide.");
                            location.reload();
                            //$("#listscroll" + "#{id}").load(document.URL + ' #listscroll' + '#{id}');
                        });
                    })
        input(class='submitbut' type='submit' value='Update')
